@media (min-width:640px) and (max-width:639) {
  
}
@media (min-width:639px) and (max-width:767px){}

@media (min-width:768px) and (max-width:1024px){}

input , textarea{
  height: 40px;
  border:1px solid rgb(190, 188, 188);
  width: 100%;
  padding-left: 20px;
  border-radius: 5px;
  @apply sm:h-8 sm:pl-3 sm:text-sm

}
input:focus{
  outline: none;
  border:2px solid rgb(77, 75, 75)
}
textarea{
  height: 100px;
  padding-top: 10px;
}